<div class="col-sm-6 portfolio-item">
  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal<%=investment.id%>">
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
        <i class="fa fa-plus fa-3x"></i>
      </div>
    </div>
    <img class="img-fluid" src="<%=image_path(investment.main.asset.url)%>" alt="">
  </a>
  <div class="portfolio-caption">
    <h4><%=investment.title%></h4>
    <p class="text-muted"><%=investment.status%></p>
  </div>
</div>