<div class="portfolio-modal modal fade" id="<%="portfolioModal#{rent_to_rent.id}"%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h3 class="text-uppercase"><%=rent_to_rent.title%></h3>
                <%= render partial: 'carousel', locals: {images: get_images(rent_to_rent)} %>
              <p><%=rent_to_rent.description%></p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>