<div class="col-sm-6 portfolio-item">
  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal<%=rent_to_rent.id%>">
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
        <i class="fa fa-plus fa-3x"></i>
      </div>
    </div>
    <img class="img-fluid" src="<%=image_path(rent_to_rent.main.asset.url)%>" alt="">
  </a>
  <div class="portfolio-caption">
    <h4><%=rent_to_rent.title%></h4>
  </div>
</div>